DATABASE_URL=<username>:<password>@tcp(localhost:3306)/integrityguard?parseTime=true
HTTP_ADDR=:8080
TCP_ADDR=:9000
TLS_CA=./certs/ca.crt
TLS_CERT=./certs/server.crt
TLS_KEY=./certs/server.key
ENROLL_ADDR=:9443
AGENT_CA_CERT=./certs/ca.crt
AGENT_CA_KEY=./certs/ca.key
AGENT_CERT_TTL_HOURS=8760
ENROLL_SECRET_PEPPER=change-me
ENROLL_KEY_KEK=change-me-at-least-32-bytes-for-local-dev
